{% extends "page_template.html" %}
{% block contents %}

<div class="content">

    <section class="places">

        {% if user.phone == current_user.phone or current_user.role == 'Admin' %}

            <div class="row">

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ title }}</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b>Amount:</b> {{ file.file_name }}</li>
                                <li class="list-group-item"><b>Date:</b> {{ file.file_name }}</li>
                                <li class="list-group-item"><b>Status:</b> <span style="padding: 5px;" class="alert alert alert-warning alert-heading" role="alert"> {{ file.file_name }} </span> </li>
                                <li class="list-group-item"><b>Status:</b> <span style="padding: 5px;" class="alert alert alert-success alert-heading" role="alert"> {{ file.file_name }} </span> </li>
                                <li class="list-group-item"><b>Name:</b> {{ file.file_name }}</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>



                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ title }}</h5>
                            
                            <table id="transactions_table" class="display" style="width:100%">
                                <thead style="background: #055041; color: #FFFFFF">
                                    <th class="text-center" style="padding: 5px;">Status</th>
                                    <th class="text-center" style="padding: 5px;">Amount</th>
                                    <th class="text-center" style="padding: 5px;">Date</th>
                                    <th class="text-center" style="padding: 5px;">Merchant Id</th>
                                    <th class="text-center" style="padding: 5px;">Mpesa Ref</th>
                                    <th class="text-center" style="padding: 5px;">Budget ID</th>
                                    <th class="text-center" style="padding: 5px;">User</th>
                                    <th class="text-center" style="padding: 5px;">Desc.</th>
                                </thead>
                                <tbody>
                                    
                                    {% if transactions %}
                                    
                                        {% for transaction in transactions %}
                                        <tr class="transactions_row">
                                            <td class="text-center" style="padding: 5px;"> <div style="padding: 0; margin: 1px auto;" class="alert alert alert-success alert-heading" role="alert"> Success </div> </td>
                                            <td class="text-center" style="padding: 5px;">{{ transaction['amount'] }}</td>
                                            <td class="text-center" style="padding: 5px;">{{ transaction['trans_date'] }}</td>
                                            <td class="text-center" style="padding: 5px;">{{ transaction['merchant_req_id'] }}</td>
                                            <td class="text-center" style="padding: 5px;">{{ transaction['mpesa_ref'] }}</td>
                                            <td class="text-center" style="padding: 5px;">{{ transaction['budget'] }}</td>
                                            <td class="text-center" style="padding: 5px;">{{ transaction.phone.name }}</td>
                                            <td class="text-center" style="padding: 5px;">{{ transaction['narration'] }}</td>
                                        </tr>
                                        {% endfor %}
                                    
                                    {% endif %}
                                    
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>


            </div>


            
        {% endif %}

        
        

    </section>

</div>









{% endblock contents %}